@import "tailwindcss";
@source "../views";
@plugin "tailwindcss-motion";
@import "tailwindcss-intersect";

@font-face {
    font-family: 'SF Pro';
    src: url('public/fonts/sf-pro-regular.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('public/fonts/sf-pro-bold.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('public/fonts/sf-pro-medium.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@theme {
    --color-primary: #39A7FF;
    --color-secondary: #87C4FF;
    --color-lightBlue: #E0F4FF;
    --color-lightBlue2: #DFF7FF;
    --color-cream: #FFEED9;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}
